.image-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.react-logo {
    width: 150px;
    padding: 20px;
    animation: rotate 15s linear infinite;   

    transition: filter 0.5s ease-out, transform 0.5s ease-out;
}

.react-logo:hover {
    filter: drop-shadow(1px 1px 10px rgb(23, 167, 244));
    cursor:pointer;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}